*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.container{
    max-width: 67vw;
    padding: 2rem 1rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

.h_cont{
    margin-bottom: 1rem;
}

.h_title{
    margin-bottom: 2rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.h_desc{
    max-width: 550px;
    text-align: center;
    color: rgb(56, 54, 54);
    margin: auto;
    font-weight: 530;
    margin-bottom: 3rem;
}

.main_cont{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
}
@media (min-width:935px){
    .main_cont{
    grid-template-columns : repeat(2, 1fr);
    }
}

@media (min-width:1300px){
    .main_cont{
    grid-template-columns : repeat(3, 1fr);
    }
}

@media (min-width:1480px){
    .main_cont{
    grid-template-columns : repeat(4, 1fr);
    }
}
.card-container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(196, 194, 194, 0.714);
    border-radius: 8px;
}
.card-img-cont{
    position: relative;
    overflow: hidden;
    height: 11rem;
}

@media (min-width: 768px){
    .card-img-cont{
        height: 13rem;
    }
}
.card_img{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.title_cont{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card-container:hover .card_img{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card_title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.2rem;
    color: rgb(55, 56, 57);
}
.anchor-title:hover .card_title{
    color: rgb(26, 76, 202);
}
.card_desc{
    color: rgb(28, 26, 26);
    font-size: 1rem;
}

.footer_cont{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1rem;
    padding-bottom: 1rem;
}

.author_cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.author_img{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(95, 103, 106);
    border-radius: 50%;
    background-color: rgb(172, 191, 190);
}
.author_tag{
    display: flex;
    flex-direction: column;
}
.auth_nm{
    color: rgb(25, 35, 79);
}
.auth_dt{
    color: rgb(41, 42, 42);
    font-size: x-small;
}
.tag_cont {
    font-size: 0.9rem;
    border: 1px solid rgb(146, 150, 153);
    border-radius: 3px;
    line-height: 1.3rem;
    padding: 0.20rem 0.25rem;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid rgba(196, 194, 194, 0.714);
    border-radius: 8px;
}
